h1 {
    font-size: 20px;
    font-weight: bold;
}

a{
    color: blue;
}

ul, li{
    list-style: none;
}

li{
    margin-top: 10px;
}

input{
    border: 2px solid #434343;
}

textarea{
    border: 2px solid #434343;
    height: 500px;
    width: 500px;
    display: block;
}

.form-area{
    position: relative;
}

#form-area-submit{
    padding: 20px 40px;
    color: blue;
    font-weight: bold;
    position: absolute;
    /* top: 550px; */
    left: 600px;
    top: 100px;
}

.memo_create, .logout{
    width: 150px;
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: darkgray;
    border: 1px #287d5f;
}

.main{
    position: relative;
}
.edit_button, .delete_button, .create_button{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background-color: #c6c5c5;
    border: none;
    border-radius: 2px;
    width: 100px;
    position: absolute;
    left: 550px;
}

.edit_button, .create_button{
    top: 50px;
    color: blue;
}

.delete_button{
    top: 120px;
    color: red;
}

.delete_button input{
    border: none;
    width: 100%;
}

.error_message{
    font-weight: bold;
    color: tomato;
}